<% provide(:title, @taxon.name) %>
<%= render 'shared/light_section', page_title: @taxon.name %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <%= render 'product_box', products: @products %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/partners_logo' %>