<% provide(:title, @product.name) %>
<%= render 'shared/light_section', page_title: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'main_section', product: @product %>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: "related_products", collection: @related_products, as: :related_product %>
    </div>
  </div>
</section>